@font-face{
	font-family: GohuFont;
	src: url('../fonts/GohuFontuni14NerdFontMono-Regular.ttf');
}

@font-face{
	font-family: VT323;
	src: url('../fonts/VT323-Regular.ttf');
}

@font-face{
	font-family: Share Tech Mono;
	src: url('../fonts/ShareTechMono-Regular.ttf');
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
  z-index: 999;
}


body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	background-image:  linear-gradient(rgba(137,0,184,0.5) 2px, transparent 2px), linear-gradient(to right, rgba(137,0,184,0.5) 2px, black 2px);
	background-size: 30px 30px;
	box-shadow: inset 0 0 30px 10px black;
	background-position: center;
	animation: scrollGrid 6s linear infinite;
}

@keyframes scrollGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 180px 180px; /* ajustá para velocidad/sensación */
  }
}


main{
	max-width: 72%;
	margin-left: auto;
	margin-right: auto; 
	display: block;
}

header{
	width: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #00ffff;
	border-radius: 5px;
	border-color: #00e7e7;
	border-style: solid;
	padding: 0;
	animation: glitchIn 1.2s ease-in-out;
	font-family: 'Share Tech Mono', monospace;
}

@keyframes glitchIn {
  0% {
    opacity: 0;
    transform: scale(0.9) skewX(10deg);
    filter: blur(3px);
  }
  20% {
    opacity: 1;
    transform: scale(1.05) skewX(-5deg);
    filter: blur(0);
  }
  40% {
    transform: scale(1.01) skewX(2deg);
  }
  60% {
    transform: scale(1.03) skewX(-1deg);
  }
  80% {
    transform: scale(1.00) skewX(0deg);
  }
  100% {
    transform: none;
  }
}

header img{
	justify-self: flex-start;
	width: 5rem;
	height: auto;
}

header h3{
	margin: 0 auto;
  	text-align: center;
	color: #00ffcc;
  text-shadow:
    0 0 5px #00ffcc,
    0 0 10px #00ffcc,
    0 0 20px #00ffcc;
  letter-spacing: 2px;
	font-size: 2rem;
	animation: pulseGlow 3s infinite ease-in-out alternate;
}

.led-title {
  animation: pulseGlow 1s infinite ease-in-out alternate;
}

@keyframes pulseGlow {
  from {
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
  }
  to {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  }
}


header h6{
	margin: 0;
	margin-right: 10px;
	color: #0ff;
	text-align: center;
/*	text-shadow: 0 0 5px #00e735;*/
	font-size: 0.8rem;
	text-shadow: 0 0 3px #0ff;
  	opacity: 0.8;
}

.onlineText{
	color: #13ff00;
}

section{
	display: grid;
	grid-template-columns: 25% 75%;
	gap: 10px;
}

.sideBar{
	margin-top: 10px;
	background-color: black;
	border: solid 2px #00ffff;
	border-radius: 2px;
	padding: 20px;
}

.mood{
	text-align: center;
	color: white;
	font-size: 1rem;
}

.mood img{
	width: 6vw;
	height: auto;
}

.mainSite img{
	display: flex;
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.asciiText{
	background: #7F00FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align: center;
    font-size: 0.6vw; /* mínimo, adaptable, máximo */
    position: absolute;
    transform: translate(25%,-175%);
    text-align: center;
}


.containerSection{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px 10px;
}

.childBoxes{
	border: solid 2px #00ffff;
	border-radius: 2px;
	background-color: black;
	height: 10vh;
	color: #ff00ff;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'VT323', monospace;
	padding: 1rem;
	text-shadow: 0 0 4px #ff00ff;
	transition: all 0.3s ease-in-out;
}

.childBoxes:hover{
	 background-color: #111;
  border-color: #f0f;
  transform: scale(1.05);
  box-shadow: 0 0 10px #0ff;
  animation: glitch 0.3s infinite;
  filter: none;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(1px, -1px); }
  60% { transform: translate(-1px, -1px); }
  80% { transform: translate(1px, 1px); }
  100% { transform: translate(0); }
}

.art{
	background-image: url('../images/showcase/art.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(100%) brightness(0.6);
}

.childBoxes h2{
	/*font-family: GohuFont;*/
	font-size: 4rem;
	color: #fff;
	text-shadow: 0 0 5px #000;
}

.currents{
	border: 2px solid #0ff;
	margin-top: 10px;
}

.currents h5{
	text-align: center;
	color: white;
	font-size: 1rem;
}

.marqueesImgs{
	margin-top: 10px;
	border: 2px solid #0ff;
	display: flex;
  	align-items: center;
  	height: 4rem;
  	overflow: hidden;
}

.marqueesImgs marquee {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.marqueesImgs img {
  display: inline-block;
  vertical-align: middle;
  height: 80%;
  margin: 0 5px;
}

.socials{
	margin-top: 10px;
	border: 2px solid #0ff;
	display: flex;
  	align-items: center;
  	justify-content: space-around;
  	padding: 10px;
  	flex-wrap: wrap
}

.socials h5{
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	font-size: 1rem;
	flex-basis: 100%
}

.socials a{
  height: 100%;
  display: flex;
  align-items: center;
}

.socialsIcons{
	height: 2rem;
	width: 2rem;
}

/*  Music Player   */

    .player {
      background-color: #000;
  border: 2px solid #0ff;
  color: #0ff;
  padding: 20px;
  box-sizing: border-box;
      width: 100%;
      box-shadow: 0 0 15px #000;
    }
    .marquee-text-track{
      overflow: hidden;
    }

    .title {
      margin-bottom: 10px;
      font-size: 1.1em;
      white-space: nowrap;
    }
    
    .controls {
      display: flex;
      justify-content: space-around;
    }

    .progress {
      width: 100%;
      height: 5px;
      background: #444;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 8px;
      position: relative;
    }

    .progress-filled {
      height: 100%;
      background: #ff69b4;
      width: 0%;
      transition: width 0.2s;
    }

    .time {
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      margin-bottom: 10px;
    }

    .volume {
      width: 100%;
    }

    .controls button {
      background: #444;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .controls button:hover {
      background: #666;
    }


/* Music Player */



@media (max-width: 992px){
	section{
		display: grid;
		grid-template-columns: 0% 100%;
	}
	.asciiText{
		transform: translate(50%,-250%);
	}
	.containerSection{
		grid-template-columns: 1fr;
	}
	.childBoxes h2{
		font-size: 8vw;
	}
	header h3{
		font-size: 4vw;
	}
	header h6{
		font-size: 2vw;
	}
}